<nav class="navbar navbar-top navbar-expand navbar-dark bg-misvisitantes border-bottom padding-4">
	<div class="container-fluid">
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav align-items-center ml-md-auto">
				<li class="nav-item d-xl-none">
					<div class="pr-3 sidenav-toggler sidenav-toggler-dark">
						<div class="sidenav-toggler-inner">
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
						</div>
					</div>
				</li>
				<li class="nav-item d-sm-none"><span class="text-white">Sigga</span></li>
			</ul>
			<ul class="navbar-nav align-items-center ml-auto ml-md-0">
        <li *ngIf="authData?.rolId === 2"><span class="badge badge-secondary">{{(sedeName !== '' || sedesAdmin !== null) ? sedeName : 'Selecciona la sede'}}</span></li>
				<li class="nav-item dropdown">
					<a class="nav-link pr-0" href="javascript:">
						<div class="media align-items-center">
							<span class="avatar avatar-sm rounded-circle">
								<img alt="Image placeholder" src="./assets/img/sigga-logo-profile.png">
							</span>
							<div class="media-body ml-2 d-none d-lg-block">
								<span class="mb-0 text-sm font-weight-bold">{{userData}}</span>
							</div>
						</div>
					</a>
					<div class="dropdown-menu dropdown-menu-right" [class.show]="showFloatMenu">
						<div class="dropdown-header noti-title">
							<h6 class="text-overflow m-0">Menu SIGGA</h6>
						</div>
						<!-- <a [routerLink]="['/dashboard/home/perfil']" class="dropdown-item">
							<i class="ni ni-single-02"></i>
							<span>Mi Perfil</span>
						</a> -->
						<a href="javascript:" (click)="setSede(item?.id, item?.prop)" *ngFor="let item of sedesAdmin" class="dropdown-item">
							<i class="ni ni-building"></i>
							<span>{{item?.prop}}</span>
						</a>
						<div class="dropdown-divider"></div>
						<a href="javascript:" class="dropdown-item" (click)="logout()">
							<i class="ni ni-user-run"></i>
							<span>Desconectarme</span>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

