<div class="multiselect position-relative">
  <label class="form-control-label">{{label}}</label>
  <div class="multiselect__container" (click)="openElementPanel()">
    <div class="multiselect__empty-state" *ngIf="selectedElements.length === 0; else showBadgeElements">
      <span class="text-muted ml-3">Seleccionar Sedes</span>
      <i class="fa fa-sort-down"></i>
    </div>
    <ng-template #showBadgeElements>
      <div class="d-flex flex-wrap">
        <div class="multiselect__selected-items" *ngFor="let sede of selectedElements">
          <span class="badge badge-default mr-1">{{sede.name}}</span>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="multiselect__elements position-absolute" [hidden]="openPanel">
    <div class="searchable">
      <div class="multiselect__close mb-2">
        <button class="btn btn-sm btn-primary" (click)="cancelProcess()">Cancelar</button>
        <button class="btn btn-sm btn-danger" (click)="closeElementPanel()"><i class="fa fa-times"></i></button>
      </div>
      <!-- <div class="form-group">
        <input type="text" [formControl]="searchElements" class="form-control" placeholder="Buscar Sede">
      </div> -->
    </div>
    <div class="item" *ngFor="let item of elements; let element = i">
      <div class="custom-control custom-checkbox">
        <input id="item-{{item.id}}" class="custom-control-input mb-2" type="checkbox" [checked]="item.id === selectedElements[element]?.id">
        <label (click)="selectElementFromList(item)" for="item-{{item.id}}"
          class="custom-control-label">{{item.name}}</label>
      </div>
    </div>
  </div>
</div>
