.row {
	display: flex;
	margin-bottom: 5px;

	col {
		flex-direction: row;
	}

	.btn {
		padding: 8px;
		font-size: 12px;
		position: relative;
		transition: all 0.15s ease;
		letter-spacing: 0.025em;
		text-transform: none;
		will-change: transform;
		border-radius: 4px;
		cursor: pointer;

		&-primary {
			border: none;
			background-color: #69b28b;
			color: #fff;
		}

		&-primary:focus {
			border: none;
			outline: 0;
		}

		&-primary:active {
			border: none;
			outline: 0;
			background-color: #548b6e;
		}
	}
}
