<app-inner-header [modulo]="'Mi Unidad Residencial'" [background]="'bg-misvisitantes'"></app-inner-header>
<div class="container-fluid mt--6">
  <app-app-card-info-header></app-app-card-info-header>
  <div class="row">
    <div class="col-lg-4">
      <app-app-card-aptos></app-app-card-aptos>
    </div>
    <div class="col-lg-4">
      <app-app-card-details></app-app-card-details>
    </div>
    <div class="col-lg-4">
      <app-app-card-residents></app-app-card-residents>
    </div>
  </div>
</div>
