<app-card-totals [type]="'contratistas'"></app-card-totals>
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<h3 class="mb-0 pull-left">{{titleCard}}</h3>
				<div class="pull-right">
					<button class="btn btn-sm btn-outline-primary btn-icon-only" (click)="prev()">
						<i class="ni ni-bold-left"></i> </button>
					<span>{{counter}}</span>
					<button class="btn btn-sm btn-outline-primary btn-icon-only ml-2" (click)="next()">
						<i class="ni ni-bold-right"></i>
					</button>
				</div>
			</div>
			<div class="table-responsive setScroll customScroll">
				<app-logs-entry-out
					[fields]="['Contratista', 'Cédula', 'Entrada', 'Salida', 'Estado', 'Temperatura', 'Sintomas', 'ARL', 'EPS', 'Estado ARL']"
					[typeControl]="'contratistas'" [service]="'/api/Control/AllEntryExitContratista'" [paginator]="counter">
				</app-logs-entry-out>
			</div>
		</div>
	</div>
</div>
