<div class="row">
	<div class="col-xl-3 col-md-6">
		<div class="card card-stats">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<h5 class="card-title text-uppercase text-muted mb-0">Entradas Hoy</h5>
						<span class="h2 font-weight-bold mb-0">{{today}}</span>
					</div>
					<div class="col-auto">
						<div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
							<i class="ni ni-bold-up"></i>
						</div>
					</div>
				</div>
				<p class="mt-3 mb-0 text-sm">
					<span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
					<span class="text-nowrap">Entradas</span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6">
		<div class="card card-stats">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<h5 class="card-title text-uppercase text-muted mb-0">Entradas Ayer</h5>
						<span class="h2 font-weight-bold mb-0">{{yesterday}}</span>
					</div>
					<div class="col-auto">
						<div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
							<i class="ni ni-bold-down"></i>
						</div>
					</div>
				</div>
				<p class="mt-3 mb-0 text-sm">
					<span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
					<span class="text-nowrap">Entradas</span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6">
		<div class="card card-stats">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<h5 class="card-title text-uppercase text-muted mb-0">Entradas este Mes</h5>
						<span class="h2 font-weight-bold mb-0">{{month}}</span>
					</div>
					<div class="col-auto">
						<div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
							<i class="ni ni-bold-left"></i>
						</div>
					</div>
				</div>
				<p class="mt-3 mb-0 text-sm">
					<span class="text-success mr-2"><i class="fa fa-arrow-left"></i></span>
					<span class="text-nowrap">Entradas</span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6">
		<div class="card card-stats">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<h5 class="card-title text-uppercase text-muted mb-0">Total</h5>
						<span class="h2 font-weight-bold mb-0">{{(today + yesterday + month)}}</span>
					</div>
					<div class="col-auto">
						<div class="icon icon-shape bg-gradient-default text-white rounded-circle shadow">
							<i class="ni ni-calendar-grid-58"></i>
						</div>
					</div>
				</div>
				<p class="mt-3 mb-0 text-sm">
					<span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
					<span class="text-nowrap">Total</span>
				</p>
			</div>
		</div>
	</div>
</div>
