<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col">
				<h5 class="h3 mb-0">Usuarios Tablet</h5>
				<small class="text-muted"><i class="fa fa-info"></i> Gestiona tus usuarios</small>
				<button class="btn btn-sm btn-info pull-right no-margin" (click)="showFormCreateUserTerminal()">
					<i class="fa fa-plus"></i> Crear Usuario
				</button>
			</div>
		</div>
	</div>
	<div class="card-header py-0">
		<form [formGroup]="frmSearchTerminal">
			<div class="form-group mb-0">
				<div class="input-group input-group-lg input-group-flush">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<span class="fas fa-search"></span>
						</div>
					</div>
					<input (keyup)="makeSearch($event)" formControlName="search" type="search" class="form-control" placeholder="Buscar">
				</div>
			</div>
		</form>
		<!--hola-->
	</div>
	<div class="card-body customScroll" [ngClass]="{'setScroll' : dataTerminales.length > 5}">
		<!-- <div class="alert alert-info"><i class="fa fa-info"></i> Para agregar modulos a tu usuario de la tablet, has click en las opciones del usuario</div> -->
		<ul class="list-group list-group-flush list my--3">
			<li class="list-group-item px-0 hover border-0" *ngIf="dataTerminales.length === 0">
				<div class="row">
					<div class="col-auto">
						No tienes termminales creadas, puedes crearla dando click aqui <a href="javascript"
							class="badge badge-primary">Agregar terminal</a>
					</div>
				</div>
			</li>
			<li class="list-group-item px-0 hover border-0" *ngFor="let rows of dataTerminales">
				<div class="row align-items-center" *ngIf="selectedTerminalToDelete !== rows.id">
					<div class="col-auto">
						<a href="javascript:" class="avatar rounded-circle">
							<img src="./assets/img/terminal.png">
						</a>
					</div>
					<div class="col ml--2">
						<h4 class="mb-0">
							<a href="javascript:">{{rows.userName}}</a>
						</h4>
						<span [ngClass]="{
								'text-success' : rows.statusId === 1,
								'text-danger' : rows.statusId === 2}">●</span>
						<small>{{(rows.statusId === 1) ? ' Activa' : ' Inactiva'}} ({{rows.typeControlName}})</small>
            <span class="badge badge-info mr-2" *ngIf="rows?.isModeScan === 1">{{(rows?.isModeScan === 1) ? 'Modo Scan' : 'N/A'}}</span>
            <span class="badge badge-info mr-2" *ngIf="rows?.isModeQr === 1">{{(rows?.isModeQr === 1) ? 'Modo QR' : 'N/A'}}</span>
            <span class="badge badge-info" *ngIf="rows?.inactiveReader === 1">{{(rows?.inactiveReader === 1) ? 'Modo Scan' : 'N/A'}}</span>
					</div>
					<div class="col d-flex justify-content-end">
						<div *ngIf="selectedTerminalId !== rows.id">
							<a href="javascript:" class="btn btn-sm btn-outline-default"
								(click)="showOptionsTerminal(rows)">Opciones</a>
						</div>
						<div class="col d-flex justify-content-end" *ngIf="selectedTerminalId === rows.id">
							<button type="button" class="btn btn-sm btn-danger"
								(click)="selectRowDeleteTerminal(rows)">
								<i class="fa fa-trash"></i>
							</button>
							<button type="button" class="btn btn-sm btn-danger" ng-click="disconnect(rows.idterminal)">
								<i class="fa fa-power-off"></i>
							</button>
							<button type="button" class="btn btn-sm btn-default" (click)="selectRowEditTerminal(rows)">
								<i class="fa fa-pen"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="row align-items-center" *ngIf="selectedTerminalToDelete === rows.id">
					<div class="col">
						<div class="row alert alert-danger">
							<div class="col-12 text-center mb-2">
								<span class="text-sm">Estas seguro de eliminar esta	Terminal ?</span></div>
							<div class="col text-center">
								<button class="btn btn-sm btn-danger" (click)="deleteTerminal(rows)">Si, Borralo</button>
							</div>
							<div class="col text-center">
								<button class="btn btn-sm btn-warning" (click)="cancelDeleteTerminal()">No, Cancelalo</button>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
