<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8">
                    <h1 class="text-white">Bienvenido a Sigga</h1>
                    <p class="text-lead text-light">Sistema de gestión de actividades y control de personal para su empresa</p>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
