<div class="card">
	<div class="card-header">
		<div class="row align-items-center">
			<div class="col">
				<h5 class="h3 mb-0">Aforo General</h5>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-6 text-center">
				<h1>Capacidad Total</h1>
				<div class="capacity">0</div>
			</div>
			<div class="col-6 text-center">
				<h1>Aforo Total</h1>
				<div class="capacity">0 - 0 %</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-4 text-center">
				<h1>{{"viewEmpleado" | localization : "labelAforoEmployeeMain"}}</h1>
				<div class="capacity">0 - 0 %</div>
			</div>
			<div class="col-4 text-center">
				<h1>Aforo Visitantes</h1>
				<div class="capacity">0 - 0 %</div>
			</div>
			<div class="col-4 text-center">
				<h1>Aforo Contratistas</h1>
				<div class="capacity">0 - 0 %</div>
			</div>
		</div>
	</div>
</div>
